body,
html {
    margin: 0;
    height: 100%;
    width: 100%;
}

* {
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    color: #e4c3ee;
}

a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.main-block {
    width: 100%;
    overflow: hidden;
    background-image: url(../images/full-page.png), url(../images/hallo-pattern-bg.png);
    position: relative;
    background-repeat: no-repeat, repeat;
    background-size: contain, cover;
    background-position: center top;
}

/*
}
.main{
    width: 100%;
    overflow: hidden;
    background-image:url(../images/full-page.png);
    position: relative;
    background-size: cover;
    background-position: center;
}
*/

.container {
    width: 80%;
    margin: auto;
    position: relative;
}

.logo-container {
    width: 65%;
    margin: auto;
    text-align: center;
}

.left-top {
    top: 0px;
    left: 0px;
    position: absolute;
}

.right-top {
    top: -60px;
    right: -85px;
    position: absolute;
}

.menubar {
    width: 100%;
    font-family: "Noto Sans", Arial, Tahoma, sans-serif;
    margin: 20px auto;
    font-size: 15px;
}

.padding {
    padding: 0px 15px;
}

.ep {
    padding: 0px 40px;
}

.colr {
    color: #f6a626;
}

.img {
    top: 0px;
    position: absolute;
}

.date {
    color: black;
    line-height: 25px;
    margin: 70px auto 15px;
    font-size: 20px;
    text-align: center;
    font-family: "Noto Sans";
    color: #e6e6e6;
}

.halloween {
    text-align: center;
    font-size: 70px;
    line-height: 74px;
    color: #f0d9b1;
    font-family: 'Permanent Marker', cursive;
}

.color {
    color: #8b3400;
}

.sign {
    width: 15%;
    background-color: #f6a626;
    font-family: "Noto Sans";
    font-weight: 650;
    margin: 30px auto;
    line-height: 43px;
    text-align: center;
    font-size: 19px;
    border-radius: 25px;
}

.fb-lorem {
    width: 38%;
    margin: 70px auto 2px auto;
    overflow: auto;
}

.fb {
    width: 20%;
    margin: auto;
    float: left;
    text-align: center;
}

.lorem {
    width: 80%;
    float: left;
    color: white;
    margin: 8px 0px;
    line-height: 23px;
    font-size: 16px;
    font-family: "Noto Sans";
}

.ghost {
    width: 65%;
    margin: auto;
}

.ready-container {
    width: 65%;
    margin: auto;
}

.ready {
    text-align: center;
    font-size: 50px;
    padding: 10% 0px 0px;
    line-height: 55px;
    color: #f0d9b1;
    margin: 133px auto 0px auto;
    font-family: "Permanent Marker", Arial, Tahoma, sans-serif;
}

.location-logo {
    text-align: center;
    margin: 20px;
}

.address {
    text-align: center;
    font-family: "Noto Sans", Arial, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: 28px;
    color: white;
    margin-bottom: 50px;
}

.line {
    margin: 20px 0px;
    text-align: center;
}

.time {
    width: 45%;
    margin: 20px auto;
    overflow: auto;
    padding-bottom: 120px;
}

.time-container {
    width: 33.33%;
    float: left;
    margin: 10px 0px;
    font-family: "Noto Sans", Arial, Tahoma, sans-serif;
}

.days {
    width: 100%;
    float: left;
    font-family: "Noto Sans", Arial, Tahoma, sans-serif;
}

p {
    margin: 0;
    padding: 0;
}

.number {
    text-align: center;
    font-size: 80px;
    color: white;
}

.day {
    text-align: center;
    color: #f6a626;
    font-size: 17px;
    margin: 0px;
}

.boo-devider {
    height: 8%;
    width: 100%;
    background-image: url(../images/hallo-bot-gradient.png);
}

.second-block {
    width: 100%;
    padding: 150px 0px 70px 0px;
    background-image: url(../images/second-sec-bg-img);
    background-size: contain;
    background-repeat: repeat;
    background-position: bottom;
}

.eyes {
    position: absolute;
    top: 30;
}

.attractions {
    width: 65%;
    padding: 50px 0px 70px;
    margin: auto;
    font-size: 50px;
    font-family: 'Permanent Marker', cursive;
    color: #f0d9b1;
}

.img-desc {
    width: 70%;
    margin: 0px auto 90px auto;
    overflow: auto;
}

.images {
    width: 50%;
    float: left;
}

.description {
    width: 50%;
    float: left;
    padding: 60px;
}

.title {
    color: #f0d9b1;
    font-size: 35px;
    line-height: 42px;
    font-family: "Permanent Marker", Arial, Tahoma, sans-serif;
}

.detail {
    font-family: "Noto Sans", Arial, Tahoma, sans-serif;
    font-size: 14px;
    line-height: 25px;
    color: #e6e6e6;
    margin: 30px 0px;
}

.plan {
    width: 100%;
    background-image: url(../images/hallo-pattern-bg.png);
    background-image: url(../images/hallo-pattern-bg.png);
    background-repeat: repeat-y;
    background-size: cover;
    padding: 100px 0px 80px 0px;
}

.plan-title {
    width: 65%;
    margin: auto;
    text-align: center;
    color: #f0d9b1;
    margin: 30px auto 120px auto;
    font-size: 50px;
    line-height: 55px;
    font-family: "Permanent Marker", Arial, Tahoma, sans-serif;
}

.plan-details {
    width: 70%;
    overflow: auto;
    margin: 0px auto 30px auto;
}

.blank {
    padding: 20px;
    float: left;
    width: 50%;
}

.plan-titles {
    font-family: "Permanent Marker", Arial, Tahoma, sans-serif;
    font-size: 35px;
    line-height: 35px;
    color: #f0d9b1;
    padding: 15px 0px 0px 25px;
}

.plan-detail {
    padding: 30px;
    width: 50%;
    float: left;
    padding: 15px 0px 15px 25px;
    color: #e6e6e6;
    font-family: "Noto Sans", Arial, Tahoma, sans-serif;
    font-size: 16px;
    line-height: 31px;
}

.right-padding {
    padding: 15px 0px 15px 25px;
}

.left-padding {
    padding: 15px 25px 0px 0px;
}

.detail-padding {
    padding: 15px 25px 15px 0px;
}

.right {
    text-align: right;
}

.sign-up {
    border-radius: 5px;
    padding: 8px 10px;
    width: 12%;
    background-color: #f6a626;
    font-family: "Noto Sans";
    font-weight: 650;
    margin: 90px auto;
    line-height: 43px;
    text-align: center;
    font-size: 19px;
}

/*
.img-sec{
    padding: 0px 0px 200px 0px;
    background-image: url(../images/hallo-bot-gradient.png);
    background-repeat: repeat-x;
    background-position: center bottom;
}
.img-sec-container{
    width: 80%;
    position: relative;
}
.90{
    padding: 90px 0px 0px 0px;
    background-image: url(../images/hallo-line-bg.png);
    background-position: center top;
    background-repeat: no-repeat;
}
.column{
    width: 98%;
    margin: 0 1% 40px;
    float: left;
    vertical-align: baseline;
}
.content-slider{
    padding: 0px 140px;
    position: relative;
}
*/
.slick-track-sec {
    width: 100%;
    overflow: auto;
}

.slick-track {
    width: 100%;
    margin: auto;
    float: left;
    overflow: auto;
    padding: 50px 0px 20px 0px;
    background-image: url(../images/hallo-line-bg.png);
    background-position: center top;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
}

.left-arrow {
    float: left;
    opacity: 0.3;
    top: 50%;
    left: 20%;
    position: absolute;
}

.track-img {
    width: 100%;
    float: left;
    margin: auto;
}

.right-arrow {
    float: left;
    opacity: 0.3;
    top: 50%;
    right: 20%;
    position: absolute;
}

.sec-4 {
    width: 100%;
    background-image: url(../images/hallo-footer-bg.png);
    background-position: center;
    background-size: cover;
}

.ready-title {
    font-family: "Permanent Marker", Arial, Tahoma, sans-serif;
    font-size: 50px;
    margin: auto;
    padding: 150px 0px 20px 0px;
    line-height: 65px;
    text-align: center;
    color: #f0d9b1;
}

.form {
    width: 100%;
}

.form-container {
    width: 35%;
    margin: auto;
    padding: 0px 0px 600px 0px;
}

.name {
    width: 50%;
    padding: 5px;
    float: left;
}

.padding-2 {
    font-family: "Noto Sans", Arial, Tahoma, sans-serif;
    padding: 10px;
    color: darkgrey;
    font-size: 13px;
    background-color: #584b72;
}

.width {
    width: 100%;
}

.subject {
    width: 100%;
    opacity: 0.5;
    color: #e6e6e6;
    font-size: 13px;
    font-family: "Noto Sans", Arial, Tahoma, sans-serif;
    padding: 10px;
}

.borderr {
    border-radius: 5px;
    color: #8b3400;
    opacity: 1;
    background-color: #f6a626;
    text-align: center;
}

.footer {
    width: 100%;
    padding: 40px 0px;
    background-color: #1a1425;
    background-image: url(../images/halloween_eyes.gif);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo-container2 {
    width: 65%;
    margin: auto;
    text-align: center;
}

.eyes-gif {
    width: 100%;
    position: absolute;
    top: 20;
}

.footer-content {
    margin: 50px auto 100px auto;
    font-family: "Noto Sans", Arial, Tahoma, sans-serif;
    font-size: 14px;
    line-height: 25px;
    color: #cdcaca;
    text-align: center;
}

.2019 {
    width: 100%;
    overflow: auto;
    margin: 20px auto;
}

.line-2 {
    float: left;
}

.anchor {
    float: left;
}

.up {
    float: right;
}

.colorr {
    color: #cdcaca;
    float: left;
}

.yellow {
    color: #f6a626;
}
